$darkSyan: black;
$france: 'Fraunces', serif;
$bralow: 'Barlow', sans-serif;
$DarkGreyBlue: #333D4B;
$PaleOrange:#FDD6BA;
$LightCream:#FEFCF7;
$grey:#83888F;
$border:1px solid;
$boldfrance: 'Fraunces', serif;